# python
__pycache__
*.pyc
*.pyo

# web-app
/start_world_news_web_app_2013_02_04.py
/world-news.cfg
/news_injection.html
/home_page.html
/lib_world_news_web_app_2013_02_04/static/home_page/

# gae
/site-packages
/app.yaml
/index.yaml

# seo
/lib_world_news_web_app_2013_02_04/static/robots.txt
